.center {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;

}


.container {
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: left;
  min-height: 100vh;
  width: 600px;
  flex-wrap: wrap;
}

.content {
  flex: 1;
}

.transaction {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.markdown {
  flex-wrap: wrap;
}


.header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1em;
  padding-bottom: 2em;
}

.footer {
  margin: 0 auto 0 auto;
  font-size: 14px;
  padding-bottom: 10px;
}

.logo-text {
  font-weight: 400;
  font-size: 24px;
}

.logo {
  display: flex;
  flex-direction: row;
}

.get-crypto {
  display: flex;
  flex-direction: row;
}

.contributeRow {
  display: flex;
  flex-direction: row;
}

.text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crypto-logo {
  height: 2em;
}

.logo-img {
  height: 50px;
}

.left {
  margin-right: 10px;
}

.right {
  display: flex;
  flex-direction: column;
}

.formContainer {
  display: flex;
  flex-direction: row;

}
